html,
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

sup {
  top: 0;
}

.terminal-body {

  &,
  * {
    color: var(--body-primary-text-color);
    font-size: 14px;
    font-family: var(--primary-font-family);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {

    &,
    * {
      margin: 13px 0 8px;
      font-weight: 600;
      font-size: inherit;
      color: var(--body-primary-text-color) !important;
    }
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 21px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 15px;
  }

  h5 {
    font-size: 13px;
  }

  h6 {
    font-size: 11px;
  }

  p {
    margin: 2px 0 6px;
  }

  blockquote {
    padding-left: 11px;
    border-left: var(--primary-border);
    border-left-width: 3px;
    margin-bottom: 6px;
  }

  p,
  span,
  li,
  mark,
  sup {
    color: var(--body-secondary-text-color);
    font-weight: 400 !important;
  }
}