:root {
  /* colors */
  --primary-color: #03c200;
  --secondary-color: #f5f5f5;
  --primary-gray: #0c0c0c;
  --secondary-gray: #363637;
  --body-primary-text-color: #fff;
  --body-secondary-text-color: #888;
  --body-tertiary-text-color: #aaa;
  --nav-bg-color: rgba(255, 255, 255, 0.08);
  --red: #f74847;
  --yellow: #fab122;
  --green: #03c200;
  --primary-shadow: rgba(0, 0, 0, 0.17) 0px 4px 6px,
    rgba(0, 0, 0, 0.2) 0px 12px 13px, rgba(0, 0, 0, 0.1) 0px -3px 5px;
  --primary-border: 1px solid #303030;
  --primary-font-family: 'Source Code Pro', monospace;
  --secondary-font-family: 'Montserrat', sans-serif;

  /* metrics */
  --nav-height: 35px;
}