:root {
  --primary-color: #30c484;
  --secondary-color: #f5f5f5;
  --primary-gray: #0e0e0e;
  --secondary-gray: #363637;
  --body-text-color: #fff;
  --nav-bg-color: rgba(255, 255, 255, 0.08);
  --red: #f74847;
  --yellow: #fab122;
  --green: #2dc232;
  --primary-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  --primary-border: 1px solid #383838;
  --primary-font-family: 'Sometype Mono', monospace;
  --secondary-font-family: 'Montserrat', sans-serif;
}
